.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.gradient-card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
}

.same-height{
    min-height: 7rem;
}
.count{
    font-size: 1.7rem;
    font-weight: 350;
}

.card:hover {
    box-shadow: 0 1px 2px 1px rgba(4,26,55,0.16);
}
    
.card:focus {
    outline: none;
    border: 0;
 }
.dark{
    background-color: #333333;
}
.dark-body{
   color:white;
}
.dark-header{
    color:rgb(90, 138, 251);
    background-color: #333333;
    border-color: #333333;
}
.dark-text{
    /* color: rgb(124,141,216); */
    color:#03dac6
}
.dark-white{
    color:#018786
}

.card {
    /* box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out; */
    text-decoration: none;
  }
  
  .n:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  
  }
  td {
    text-align: center;
    vertical-align: middle;
  }
  @media screen and (max-width: 1220px) {
      .graph {
          display:none;
      }
    }
.hvr:hover{
    text-decoration: underline;
}