<div class="modal fade" id="userDataModal" tabindex="-1" role="dialog" aria-labelledby="userDataModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title mx-auto" id="userDataModalLabel">Please Enter Contact Details</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Sonatech Email</label>
                    <input type="text" formControlName="email" class="form-control email-input" aria-describedby="emailHelp" [ngClass]="{ 'is-invalid': (submitted && f.email.errors) || (submitted && !isSonatechmail) }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Enter a valid email address</div>
                    </div>
                    <div *ngIf="submitted && !isSonatechmail" class="invalid-feedback">
                        <div *ngIf="!isSonatechmail">Email must be your sonatech Mail Id</div>
                    </div>
                    <!-- <small id="emailHelp" formControlName="email" class="form-text text-muted">Please Enter your Sonatech Email Id</small> -->
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                        <div *ngIf="f.phoneNumber.errors.minlength">Please enter valid phone number</div>
                    </div>
                </div>
            </form>
            <div class="card mb-2 sona">
                <div class="card-header">
                    <div class="custom-control mx-auto custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches" value="{{darktheme}}" [checked]="darktheme" (change)="change($event)">
                        <label class="custom-control-label" for="customSwitches">Toggle to enable dark mode</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button"  #closebutton [hidden]="true" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
        </div>
    </div>
</div>