<!-- Success message -->
<div class="alert alert-success alert-dismissible fade show" role="alert" [hidden]="!successMessage">
    {{successMessage}}
    <button type="button" class="close">
    <span (click)="clearMessage()">&times;</span>
    </button>
</div>
<!-- Error message -->
<div class="alert alert-danger alert-dismissible fade show" role="alert" [hidden]="!errorMessage">
    {{errorMessage}}
    <button type="button" class="close">
    <span (click)="clearMessage()">&times;</span>
    </button>
</div>
<!-- Password From  -->
<form [formGroup]="passwordUpdateForm" (ngSubmit)="updateUserPassword()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Old Password<span class="required">*</span> </label>
            <input type="password" class="form-control" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }"/>
            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                <div *ngIf="f.oldPassword.errors.minlength">Password should be minimum of 8 characters</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>New Password<span class="required">*</span> </label>
            <input type="password" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">Password should be minimum of 8 characters</div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Confirm Password<span class="required">*</span> </label>
            <input type="password" class="form-control" formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }"/>
            <div *ngIf="submitted && f.confirmNewPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmNewPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmNewPassword.errors.minlength">Password should be minimum of 8 characters</div>
            </div>                 
        </div>
    </div>
    <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block mt-5 mb-2">
        Update Password
    </button>
</form>
