<div class="row" >
    <div class="container col-md-8 pt-5">
    <div class="container-fluid" *ngIf="allusers?.length; else Emptybox">
        <h6 class="mb-3" *ngIf="hod?.length" >Head of Department</h6>
        <div class="row"  *ngIf="hod?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" >
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col" style="width: 20%;">S.No</th>
                                    <th scope="col" style="width: 40%;">User Id</th>
                                    <th scope="col" style="width: 40%;">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hd of hod; index as i" routerLink="/admin-panel/user-profile/{{hd.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{hd.userId}}</td>
                                    <td>{{hd.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="mb-3 my-3" *ngIf="professors?.length">Professors</h6>
        <div class="row"  *ngIf="professors?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" >
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col" style="width: 20%;">S.No</th>
                                    <th scope="col" style="width: 40%;">User Id</th>
                                    <th scope="col" style="width: 40%;">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let professor of professors; index as i" routerLink="/admin-panel/user-profile/{{professor.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{professor.userId}}</td>
                                    <td>{{professor.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="mb-3 my-3" *ngIf="non_teach?.length">Research Assistant/Non Teaching Staffs</h6>
        <div class="row" *ngIf="non_teach?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" >
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col" style="width: 20%;">S.No</th>
                                    <th scope="col" style="width: 40%;">User Id</th>
                                    <th scope="col" style="width: 40%;">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let nt of non_teach; index as i" routerLink="/admin-panel/user-profile/{{nt.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{nt.userId}}</td>
                                    <td>{{nt.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="mb-3 my-3" *ngIf="students?.length">Students</h6>
        <div class="row" *ngIf="students?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" *ngIf="students?.length; else Emptybox">
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col" style="width: 20%;">S.No</th>
                                    <th scope="col" style="width: 40%;">User Id</th>
                                    <th scope="col" style="width: 40%;">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let student of students; index as i" routerLink="/admin-panel/user-profile/{{student.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{student.userId}}</td>
                                    <td>{{student.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="mb-3 my-3" *ngIf="admins?.length">Admins</h6>
        <div class="row" *ngIf="admins?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" *ngIf="admins?.length; else Emptybox">
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">User Id</th>
                                    <th scope="col">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let admin of admins; index as i" routerLink="/admin-panel/user-profile/{{admin.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{admin.userId}}</td>
                                    <td>{{admin.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="mb-3 my-3" *ngIf="mngmts?.length">Management</h6>
        <div class="row" *ngIf="mngmts?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" *ngIf="mngmts?.length; else Emptybox">
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">User Id</th>
                                    <th scope="col">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mngmt of mngmts; index as i" routerLink="/admin-panel/user-profile/{{mngmt.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{mngmt.userId}}</td>
                                    <td>{{mngmt.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="mb-3 my-3" *ngIf="archived?.length">Archived Users</h6>
        <div class="row" *ngIf="archived?.length">
            <div class="col-md-12">
                <div class="card">
                    <div class="table-responsive" *ngIf="archived?.length; else Emptybox">
                        <table class="table table-hover">
                            <thead class="thead sona">
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">User Id</th>
                                    <th scope="col">User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let archive of archived; index as i" routerLink="/admin-panel/user-profile/{{archive.userId}}"
                                    >
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{archive.userId}}</td>
                                    <td>{{archive.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><ng-template #Emptybox>
        <app-empty-layout></app-empty-layout>
    </ng-template>



    