<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-c-i l1">
                <div class="card-body fhead">
                    <h4>Publications</h4>
                    <small>Hello</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-c-i l1">
                <div class="card-body">
                    <h5>Hello</h5>
                </div>
            </div>
        </div>
    </div>
</div>