<div class="modal fade" id="publicationModal" tabindex="-1" role="dialog" aria-hidden="closeModal" (click)="clean()">
    <div class="row mtop">
        <div class="col-md-6">
            <span class="fa fa-refresh" (click)='reload()'></span>
            <iframe #iframe width="100%" height="100%"></iframe>
        </div>
        <div class="col-md-6">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><b>Paper Title : </b>{{publication?.paperTitle}}</h5><br>
                        <button class="btn btn-primary float-right m-2 ml-auto" data-dismiss="modal" aria-label="Close"
                            routerLink="/publication/{{publication?.publicationId}}">
                            See all details
                        </button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card bg-light mb-3">
                        </div>


                        <div class="card border-secondary mb-1">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Publication : {{publication?.publicationName}}</h5> -->
                                <div class="row">
                                    <h5 class="modal-title mx-3"><b>{{publication?.publicationName}}</b></h5>

                                    <div class="col-md-6 my-2" *ngIf="publication?.publicationType"><span
                                            class="disc">&#9673;</span>
                                        <b>Type: </b>
                                        <span> {{publication?.publicationType}}</span>
                                    </div>
                                    <div class="col-md-6 my-2 " *ngIf="publication?.indexing"><span
                                            class="disc">&#9673;</span>
                                        <b>Indexing: </b>
                                        <span> {{publication?.indexing}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.reach"><span
                                            class="disc">&#9673;</span>
                                        <b>Reach: </b>
                                        <span>{{publication?.reach}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.impactFactor"><span
                                            class="disc">&#9673;</span>
                                        <b>Impact Factor: </b>
                                        <span>{{publication?.impactFactor}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.ISSN"><span
                                            class="disc">&#9673;</span>
                                        <b>ISSN: </b>
                                        <span>{{publication?.ISSN}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.ISBN"><span
                                            class="disc">&#9673;</span>
                                        <b>ISBN: </b>
                                        <span>{{publication?.ISBN}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.volumeNumber"><span
                                            class="disc">&#9673;</span>
                                        <b>Volume Number: </b>
                                        <span>{{publication?.volumeNumber}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.issueNumber"><span
                                            class="disc">&#9673;</span>
                                        <b>Issue Number: </b>
                                        <span>{{publication?.issueNumber}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.editionNumber"><span
                                            class="disc">&#9673;</span>
                                        <b>Edition Number: </b>
                                        <span>{{publication?.editionNumber}}</span>
                                    </div>
                                    <div class="col-md-6 my-2" *ngIf="publication?.pagesFrom || publication?.pagesTo">
                                        <span class="disc">&#9673;</span>
                                        <b>Pages: </b>
                                        <span *ngIf="publication?.pagesFrom">{{publication?.pagesFrom}}</span>
                                        <span *ngIf=" publication?.pagesTo">-{{publication?.pagesTo}}</span>
                                    </div>

                                    <div class="col-md-12 my-2" *ngIf="publication?.DOIorURL"><span
                                            class="disc">&#9673;</span>
                                        <b>DOI or URL: </b>
                                        <span><u><a href="{{publication?.DOIorURL}}"
                                                    target="_blank">{{publication?.DOIorURL}}</a></u></span>
                                    </div>
                                    <div class="col-md-12 my-2" *ngIf="publication?.file?.filledApplication?.fileName">

                                        <!-- <span><button (click) = "download()" class="btn btn-info"><i class="fa fa-download"></i> Click here to download Attached Document</button></span> -->
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="card mb-1">
                            <div class="card-header">Publisher ID :<span
                                    class="float-right badge badge-pill badge-success p-2 c-pointer"
                                    (click)="showUserOverview(publication?.publisherId)" data-toggle="modal"
                                    data-target="#userOverviewModal">{{publication?.publisherId}}</span></div>

                        </div>
                        <div class="card mb-1" *ngIf="needsResolution && publisherResolution">
                            <div class="card-header">Publisher ID to be Resolved:<span
                                    class="float-right badge badge-pill badge-success p-2 c-pointer"
                                    (click)="showUserOverview(publication?.publisherId)" data-toggle="modal"
                                    data-target="#userOverviewModal">{{publication?.resolve?.publisherId}}</span></div>
                        </div>
                        <div class="card mb-1" *ngIf="publication?.contributionAs">
                            <div class="card-header"><span>Contribution : {{publication?.contributionAs}}</span>
                            </div>
                        </div>

                        <div class="card mb-1" *ngIf="publication?.coAuthor.length">
                            <div class="card-header">Co-Authors from Sona</div>
                            <div class="card-body ">
                                <h5>
                                    <small *ngFor="let coAuthor of publication?.coAuthor">
                                        <span class=" my-2 mx-1 badge badge-pill badge-success p-2 c-pointer"
                                            (click)="showUserOverview(coAuthor)" data-toggle="modal"
                                            data-target="#userOverviewModal">
                                            {{coAuthor}}</span><br>
                                    </small>
                                </h5>
                            </div>
                        </div>
                        <div class="card mb-1" *ngIf="publication?.resolve?.coAuthor.length && !publisherResolution">
                            <div class="card-header">Co-Authors from Sona to be Resolved</div>
                            <div class="card-body ">
                                <h5>
                                    <small *ngFor="let coAuthor of publication?.resolve?.coAuthor">
                                        <span class=" my-2 mx-1 badge badge-pill badge-success p-2 c-pointer"
                                            (click)="showUserOverview(coAuthor)" data-toggle="modal"
                                            data-target="#userOverviewModal">
                                            {{coAuthor}}</span><br>
                                    </small>
                                </h5>
                            </div>
                        </div>

                        <div class="card mb-1" *ngIf="publication?.extraCoAuthor.length">
                            <div class="card-header">Other Co-Authors</div>
                            <div class="card-body ">
                                <h5>
                                    <small *ngFor="let extraCoAuthor of publication?.extraCoAuthor">
                                        <span class=" my-2 mx-1 badge badge-pill badge-success p-2 c-pointer">
                                            {{extraCoAuthor}}</span><br>
                                    </small>
                                </h5>
                            </div>
                        </div>


                        <div class="modal fade" id="userOverviewModal" tabindex="-1" role="dialog"
                            aria-labelledby="userOverviewModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Contributor Details</h5>
                                        <button type="button" class="close" data-target="userOverviewModal"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class='table table-borderless'>
                                            <tr>
                                                <td class="text-muted">Name</td>
                                                <td class="card-text text-capitalize">{{user?.userName}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Designation</td>
                                                <td class="card-text text-capitalize">{{user?.userDesignation}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-muted">Department</td>
                                                <td class="card-text text-capitalize">{{user?.userDepartment}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-secondary mb-1" *ngIf="publication?.abstract">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{publication?.abstract}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="isAdmin && needsResolution" class="btn btn-info mx-2 float-right"
                        (click)="onresolve()" data-toggle="modal" data-target="#success_tic">
                        Resolve
                    </button>
                    <button *ngIf="isAdmin" class="btn btn-success m-2 float-right" (click)="onApprove()"
                        data-toggle="modal" data-target="#success_tic">
                        Approve
                    </button>
                    <button *ngIf="isAdmin && !isarchived" class="btn btn-warning m-2 float-right" (click)="onarchive()"
                        data-toggle="modal" data-target="#success_tic">
                        Archive
                    </button>
                    <button *ngIf="isAdmin && isarchived" class="btn btn-info mx-2 float-right" (click)="onrestore()"
                        data-toggle="modal" data-target="#success_tic">
                        Restore
                    </button>
                    <app-message-modal [goBack]=0 [successMessage]="modalmessage"></app-message-modal>

                </div>
            </div>
        </div>
    </div>
</div>