<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">Settings</li>
    </ol>
</nav>
<div class="container mt-5">
    <div class="row">
        <!-- Profile -->
        <div class="col-md-6">
            <div class="card">
            <ul class="list-group list-group-flush whitebg">
                <li class="list-group-item sona"><h5  class="text-center">Profile</h5></li>
                        <li class="list-group-item whitebg">
                            <div class="card-body cool">
                                <div class="row">
                                <div class="col-md-4">
                                    <img src="../../../../assets/image/im_avatar.png" class="card-img-top" alt="avatar">
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title  ">{{userName}}</h5>
                                    <h6 class="card-text text-muted ">{{userId}}</h6>
                                    <h6 class="card-text text-muted " >{{designation}}</h6>
                                </div>
                                
                                </div>                        
                            </div>
                        </li>
                        <li class="list-group-item" *ngIf="Email && !showcontact">
                            <h5>
                                <small>
                                    LAB
                                    <span class="float-right card-title">{{lab}}</span>
                                </small>
                            </h5>
                        </li>  
                        <li class="list-group-item" *ngIf="phonenumber && !showcontact">
                            <h5>
                                <small>
                                    Phone Number
                                    <span class="float-right card-title">{{phonenumber}}</span>
                                </small>
                            </h5>
                        </li>
                        <li class="list-group-item" *ngIf="Email && !showcontact">
                            <h5>
                                <small>
                                    Email
                                    <span class="float-right card-title">{{Email}}</span>
                                </small>
                            </h5>
                        </li>                
                        <form [formGroup]="userForm" *ngIf="showcontact" >
                            <li class="list-group-item" *ngIf="showcontact">
                                <h5>
                                    <small>
                                        Contact Number
                                        <input type="number" class="form-control" placeholder="Phone Number" formControlName="phoneNumber" />
                                    </small>
                                </h5>
                            </li>
                            <li class="list-group-item" *ngIf="showcontact">
                                <h5>
                                    <small>
                                        Email
                                        <input type="text" class="form-control" placeholder="Email ID" formControlName="email"/>
                                    </small>
                                </h5>
                            </li>
                            <li class="list-group-item" *ngIf="showcontact">
                                <h5>
                                    <small>
                                        LAB
                                        <!-- <input type="select" class="form-control" placeholder="Email ID" formControlName="lab"/> -->
                                        <select type="text" class="form-control my-2" formControlName="lab">
                                            <option value="">...</option>
                                            <option *ngFor="let lab of researchLabs" [value]="lab.researchLabName">{{ lab.researchLabName }}</option>
                                          </select>
                                    </small>
                                </h5>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-secondary btn-success my-1 mx-1" style="width: 100%;" (click)="updateuser()" *ngIf="showcontact">Update</button>
                                
                                <button class="btn btn-secondary my-1 mx-1" style="width: 100%;" (click)="cancel()" *ngIf="showcontact">Cancel</button>
                            </li>
                        </form>
                        <button class="btn btn-primary btn-lg btn-block" *ngIf="!showcontact && (phonenumber || Email)" (click)="showContact()">Edit Details</button>
                        
                        <button class="btn btn-primary btn-lg btn-block my-1" *ngIf="!showcontact && !(phonenumber || Email)" (click)="showContact()">Add Details</button>
                        <button class="btn btn-primary btn-lg btn-block my-2" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                    </ul>
                </div> 
        </div>
        <!-- Keywords -->
        <div class="col-md-6">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Keywords</h5>
                    <span *ngFor="let keyword of exkeywords">
                        <span *ngFor="let key of keyword">
                            <span class="card-text mr-4">
                                <span class="disc">&#9673;</span>{{ key }}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">Special Keywords</h5>
                    <div *ngIf="!editmode; else Editor">
                        <span *ngFor="let keyword of keywords">
                            <span class="card-text text-dark mr-4">
                                <span class="disc">&#9673;</span>{{ keyword }}
                            </span>
                        </span>
                    </div>
            
                    <ng-template #Editor>
                        <form [formGroup]="keywordsForm">
                            <div class=row>
                                <div formArrayName="keyword" class="mb-3 col-md-3" *ngFor="let keyword of keywordArray.controls; let i = index">
                                    <div class="input-group input-group-sm mb-1">
                                        <input type="text" class="form-control sub-head" [formControlName]="i" />
                                        <div class="input-group-append">
                                            <span class=" btn input-group-text" (click)="deleteKeyword(i)">X</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary" (click)="addKeyword()">&#10010;</button>
                        </form>
                    </ng-template>
                    <button type="button" class="btn btn-primary mt-5 float-right" *ngIf="!editmode" (click)="editmode=true">EDIT</button>
                    <button type="button" *ngIf="editmode" class="btn btn-success mt-5 float-right" (click)="updateKeyword()">UPDATE</button>
                    <button type="button"  *ngIf="editmode" class="btn btn-secondary mt-5 float-right mx-2" (click)="editmode=false">CANCEL</button>
                </div>
                   
            </div>
            <div class="card mb-2 sona">
                <div class="card-header">
                    <div class="custom-control mx-auto custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches" value="{{darktheme}}" [checked]="darktheme" (change)="change($event)">
                        <label class="custom-control-label" for="customSwitches">Toggle to enable dark mode</label>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-change-password></app-change-password>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>