<app-loader [load]="isloading"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-3">
      <app-snapshots [snapshot]="snapshot"></app-snapshots>

      <div class="card py-auto">
        <div class="card-body container p-2">
          <div class="row">
            <span class="col-md-4 text-center my-auto">Choose Dept</span>
            <select
              class="form-control my-1 col-md-7 mx-auto"
              [(ngModel)]="departmentPie"
              (change)="pieFilter()"
            >
              <option value="all" selected>All Departments</option>
              <option
                *ngFor="let department of departments"
                [value]="department"
              >
                {{ department }}
              </option>
            </select>
          </div>

          <!-- <h6>Hello</h6> -->
          <div style="display: block">
            <canvas
              height="175"
              baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 my-auto">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8 col-sm-12 mt-1 filter-form">
                  <label for="from" class="mt-1">From: </label>
                  <input
                    id="from"
                    class="form-control mx-2"
                    autocomplete="off"
                    type="number"
                    placeholder="Year (yyyy)"
                    [(ngModel)]="fromYear"
                  />
                  <label for="to" class="mt-1">To: </label>
                  <input
                    id="to"
                    class="form-control mx-2"
                    autocomplete="off"
                    type="number"
                    placeholder="Year (yyyy)"
                    [(ngModel)]="toYear"
                  />
                </div>
                <div class="col-md-4 col-sm-12 my-1">
                  <button class="btn btn-primary float-right" (click)="reset()">
                    Reset
                  </button>
                  <button
                    class="btn btn-primary float-right mx-2"
                    (click)="filter()"
                    [disabled]="
                      !(
                        fromYear >= 1900 &&
                        fromYear <= 2500 &&
                        toYear >= 1900 &&
                        toYear < 2500
                      )
                    "
                  >
                    Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1 mb-3">
        <div class="col-md-12">
          <div
            [ngClass]="{ card: true, dark: darktheme }"
            style="height: fit-content"
          >
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [colors]="barChartColors"
              [chartType]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
