<div class="card border-secondary mb-1">
    <div class="card-body">
        <h5 class="card-title">Upload Application</h5>
        <div *ngIf="!isFilled; else FormDataUploaded ">
            <div class="form-check">
            <input 
                type="file" 
                id="filledApplication" 
                name="filledApplication"
                (change) = "selectApplication($event)"
                required
                />
            <button type="submit" class="btn btn-secondary btn-sm" (click) = "uploadApplication()">Upload</button>
            </div>
            <div>
                <small class="text-muted"> Please upload filled application for check</small>
            </div>
        </div>
        <ng-template #FormDataUploaded>
            <div class="row">
                <div class="col-md-10">
                    <span>
                        <button type="button" class="btn btn-secondary btn-sm" (click) = "download()">Download</button>
                    </span>
                    {{downloadableDocName}}
                </div>
            </div>
            <div>
                <small class="text-muted"> Application has uploaded</small>
            </div>
        </ng-template>
    </div>
</div>

