<div class="card mb-1">
    <div class="card-header">Publisher ID :<span class="float-right badge badge-pill badge-success p-2 c-pointer" (click)="showUserOverview(publication?.publisherId)" data-toggle="modal"
        data-target="#userOverviewModal">{{publication?.publisherId}}</span></div>
</div>
<div class="card mb-1" *ngIf="publication?.contributionAs">
    <div class="card-header"><span >Contribution : {{publication?.contributionAs}}</span>
    </div>
</div>

<div class="card mb-1" *ngIf="publication?.coAuthor.length">
    <div class="card-header">Co-Authors from Sona</div>
    <div class="card-body " >
        <h5>
            <small *ngFor="let coAuthor of publication?.coAuthor">
                <span class=" my-2 mx-1 badge badge-pill badge-success p-2 c-pointer" (click)="showUserOverview(coAuthor)" data-toggle="modal"
                data-target="#userOverviewModal">
                {{coAuthor}}</span><br>
            </small>
        </h5>
    </div>
</div>

<div class="card mb-1" *ngIf="publication?.extraCoAuthor.length">
    <div class="card-header">Other Co-Authors</div>
    <div class="card-body " >
        <h5>
            <small *ngFor="let extraCoAuthor of publication?.extraCoAuthor">
                <span class=" my-2 mx-1 badge badge-pill badge-success p-2 c-pointer">
                {{extraCoAuthor}}</span><br>
            </small>
        </h5>
    </div>
</div>


<div class="modal fade" id="userOverviewModal" tabindex="-1" role="dialog" aria-labelledby="userOverviewModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Contributor Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class='table table-borderless'>
                        <tr>
                            <td class="text-muted">Name</td>
                            <td class="card-text text-capitalize">{{user?.userName}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Designation</td>
                            <td class="card-text text-capitalize">{{user?.userDesignation}}</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Department</td>
                            <td class="card-text text-capitalize">{{user?.userDepartment}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>