<div class="container mt-5">
    <div class="col-md-10 m-auto">
      <app-message 
        [successMessage]="successMessage" 
        [errorMessage]="errorMessage">
     </app-message> 
      <h5 class="title text-center mb-3">Edit Publication</h5>
      <span *ngIf="!checkuser">You are not allowed here. <a href="publication/{{publication?.publicationId}}">Go away.</a></span>
      <div class="card" *ngIf="checkuser">
        <div class="card-body">
          <form [formGroup] ="publicationForm" (ngSubmit)="updatePublication()">
            <div class="row">
              <div class="form-group col-md-4">
                <label>Publication Type <span class="required">*</span> </label>
                <select class="form-control" formControlName = "publicationType" (change)="changeform($event.target.value)">
                  <option value="Journal">Journal</option>
                  <option value="Conference Proceedings">Conference Proceedings</option>
                  <option value="Arvix">Arvix</option>
                  <option value="Book">Book</option>
                  <option value="Book Chapter">Book Chapter</option>
                  <option value="Magazine">Magazine</option>
                  <option value="Newspaper">Newspaper</option>
                  <option value="Blog">Blog</option>
                </select>
              </div>
              <div class="form-group col-md-8">
                <label>Publication <span class="required">*</span> </label>
                <input type="text" class="form-control" formControlName = "publicationName"/>
              </div>
              <div class="form-group col-md-12">
                <label>Title<span class="required">*</span> </label>
                <input type="text" class="form-control" formControlName = "paperTitle"/>
              </div>
              <div class="form-group col-md-12">
                <label>DOI/URL <span class="required">*</span> </label>
                <input type="text" class="form-control" formControlName = "DOIorURL"/>
              </div>
            </div>
            <hr/>
            <div *ngIf='type=="Arvix"'>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Publisher ID <span class="required">*</span> </label>
                    <input type="text" class="form-control" formControlName = "publisherId" readonly/>
                  </div>  
                  <div class="form-group col-md-3">
                    <label>Contribution as <span class="required">*</span> </label>
                    <select class="form-control" formControlName = "contributionAs">
                      <option value="First Author">First Author</option>
                      <option value="Second Author">Second Author</option>
                      <option value="Others">Others</option>
                      <option value="Supervisor">Supervisor</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Date of Publication <span class="required">*</span> </label>
                    <input type="date" class="form-control" formControlName = "yearOfPublication" />
                  </div>
                </div>
              </div>
              <hr/>
            </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Reach </label>
                  <select class="form-control" formControlName = "reach">
                    <option value="International">International</option>
                    <option value="National">National</option>
                    <option value="Regional">Regional</option>
                    <option value="Institutional">Institutional</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>Attach Files </label><br>
                  <input type="file" id="filledApplication" 
                  name="filledApplication"
                  (change) = "selectApplication($event)"/>
                  <button class="btn btn-secondary btn-sm" (click) = "uploadApplication()">Upload</button>
                </div>
                
              </div>
            </div>
  
  
            <div *ngIf='type=="Conference Proceedings" || type=="Journal" || type=="Book" || type=="Book Chapter"'>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Publisher ID <span class="required">*</span> </label>
                    <input type="text" class="form-control" formControlName = "publisherId" readonly/>
                  </div>  
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Volume Number </label>
                    <input type="number" class="form-control" formControlName = "volumeNumber"/>
                  </div>  
                  <div class="form-group col-md-6">
                    <label>Date of Publication <span class="required">*</span> </label>
                    <input type="date" class="form-control" formControlName = "yearOfPublication"/>
                  </div>  
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>ISSN </label>
                    <input type="text" class="form-control" formControlName = "ISSN"/>
                  </div> 
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Contribution as <span class="required">*</span> </label>
                    <select class="form-control" formControlName = "contributionAs">
                      <option value="First Author">First Author</option>
                      <option value="Second Author">Second Author</option>
                      <option value="Others">Others</option>
                      <option value="Supervisor">Supervisor</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Reach <span class="required">*</span> </label>
                    <select class="form-control" formControlName = "reach">
                      <option value="International">International</option>
                      <option value="National">National</option>
                      <option value="Regional">Regional</option>
                      <option value="Institutional">Institutional</option>
                    </select>
                  </div>    
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Pages From</label>
                    <input type="number" class="form-control" formControlName = "pagesFrom"/>
                  </div>  
                  <div class="form-group col-md-6">
                    <label>Pages To</label>
                    <input type="number" class="form-control" formControlName = "pagesTo"/>
                  </div> 
                </div>
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>ISBN</label>
                    <input type="text" class="form-control" formControlName = "ISBN"/>
                  </div> 
                </div>
              </div>
            </div>
            <hr/>
            
            <div class="row">
              
              <div class="form-group col-md-4">
                <label>Indexing <span class="required">*</span> </label>
                <select class="form-control" formControlName = "indexing">
                  <option value="SCI">SCI</option>
                  <option value="SCOPUS">SCOPUS</option>
                  <option value="UGC">UGC</option>
                  <option value="WebOfScience">Web of Science</option>
                  <option value="Others">Others</option>
                </select>
              </div> 
              <div class="form-group col-md-4">
                <label>Issue Number</label>
                <input type="number" class="form-control" formControlName = "issueNumber"/>
              </div>
              <div class="form-group col-md-4">
                <label>Impact Factor</label>
                <input type="text" class="form-control" formControlName = "impactFactor"/>
              </div>
              <div class="form-group col-md-6">
                <label>Edition Number </label>
                <input type="number" class="form-control" formControlName = "editionNumber"/>
              </div>
              <div class="form-group col-md-6">
                <label>Attach Files </label><br>
                <input type="file" id="filledApplication" 
                name="filledApplication"
                (change) = "selectApplication($event)"/>
                <button class="btn btn-secondary btn-sm" (click) = "uploadApplication()">Upload</button>
              </div>
            </div>
            </div>
  
  
          <div *ngIf='type=="Magazine" || type=="Newspaper"'>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Publisher ID <span class="required">*</span> </label>
                    <input type="text" class="form-control" formControlName = "publisherId" readonly/>
                  </div>  
                </div>
                <div class="row">  
                  <div class="form-group col-md-6">
                    <label>Date of Publication <span class="required">*</span> </label>
                    <input type="date" class="form-control" formControlName = "yearOfPublication"/>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Issue Number</label>
                    <input type="number" class="form-control" formControlName = "issueNumber"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Contribution as <span class="required">*</span> </label>
                    <select class="form-control" formControlName = "contributionAs">
                      <option value="First Author">First Author</option>
                      <option value="Second Author">Second Author</option>
                      <option value="Others">Others</option>
                      <option value="Supervisor">Supervisor</option>
                    </select>
                  </div>   
                  <div class="form-group col-md-6">
                    <label>Reach <span class="required">*</span> </label>
                    <select class="form-control" formControlName = "reach">
                      <option value="International">International</option>
                      <option value="National">National</option>
                      <option value="Regional">Regional</option>
                      <option value="Institutional">Institutional</option>
                    </select>
                  </div> 
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Pages From</label>
                    <input type="number" class="form-control" formControlName = "pagesFrom"/>
                  </div>  
                  <div class="form-group col-md-6">
                    <label>Pages To </label>
                    <input type="number" class="form-control" formControlName = "pagesTo"/>
                  </div> 
                </div>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="form-group col-md-4">
                <label>ISSN </label>
                <input type="text" class="form-control" formControlName = "ISSN"/>
              </div>
              <div class="form-group col-md-4">
                <label>ISBN</label>
                <input type="text" class="form-control" formControlName = "ISBN"/>
              </div> 
              <div class="form-group col-md-6">
                <label>Attach Files </label><br>
                <input type="file" id="filledApplication" 
                name="filledApplication"
                (change) = "selectApplication($event)"/>
                <button class="btn btn-secondary btn-sm" (click) = "uploadApplication()">Upload</button>
              </div>
            </div>
          </div>
  
  
          <div *ngIf='type=="Blog"'>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="form-group col-md-12">
                    <label>Publisher ID <span class="required">*</span> </label>
                    <input type="text" class="form-control" formControlName = "publisherId" readonly/>
                  </div>  
                </div>
              </div>  
              <div class="form-group col-md-3">
                <label>Date of Publication <span class="required">*</span> </label>
                <input type="date" class="form-control" formControlName = "yearOfPublication"/>
              </div>
              <div class="form-group col-md-3">
                <label>Reach <span class="required">*</span> </label>
                <select class="form-control" formControlName = "reach" [value]="publication.reach">
                  <option value="International">International</option>
                  <option value="National">National</option>
                  <option value="Regional">Regional</option>
                  <option value="Institutional">Institutional</option>
                </select>
              </div>
            </div>
            <hr/>
            
            <div class="row"> 
              <div class="form-group col-md-6">
                <label>Attach Files </label><br>
                <input type="file" id="filledApplication" 
                name="filledApplication"
                (change) = "selectApplication($event)"/>
                <button class="btn btn-secondary btn-sm" (click) = "uploadApplication()">Upload</button>
              </div>
            </div>
          </div>
          <div *ngIf='type!=""'>
          <label for="coAuthor">Co-Authors </label>
            <div class="card">
              <div class="alert alert-danger alert-dismissible fade show " role="alert" [hidden]="!usererror">
                {{usererror}}
                <button type="button" class="close" (click) = "clearMessage()">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>


              <div class="card-body form-row">
                <div class="form-group col-md-6">
                  <div>
                    <span *ngFor="let contributorId of team"
                      class="badge badge-pill badge-secondary pr-1 my-1 mx-1">{{ contributorId }}
                      <span *ngIf="contributorId !== userIdName" (click)="removeContributorFromTeam(contributorId)" class="c-pointer">X</span>
                    </span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <br>
                  <label>Search Username of Sona</label>
                  <div class="input-group">
                    <input list="users" placeholder="Search using Username" type="text" class="form-control" formControlName="searchedContributorId"
                      autocomplete="off" (keyup)="searchContributorIds(publicationForm.value.searchedContributorId)" />
                    <datalist id="users" >
                      <option *ngFor="let contributor of contributorIds" [value]="contributor"
                        (click)="addContributorToTeam(contributor)">{{contributor}}</option>
                    </datalist>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary"
                        (click)="addContributorToTeam(publicationForm.get('searchedContributorId').value)">Add</button>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-body form-row">
                <div class="form-group col-md-6">
                  <div>
                    <span *ngFor="let contributorId of other_cos"
                      class="badge badge-pill badge-secondary pr-1">{{ contributorId }}
                      <span *ngIf="contributorId !== userIdName" (click)="removecoauth(contributorId)" class="c-pointer">X</span>
                    </span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <br>
                  <label>Add others</label>
                  <div class="input-group">
                    <input list="users" type="text" class="form-control" placeholder="Enter a name and click add" formControlName="otherContributorId"
                      autocomplete="off" />
                    <datalist id="users" >
                      <option *ngFor="let contributor of contributorIds" [value]="contributor"
                        (click)="addContributorToTeam(contributor)">{{contributor}}</option>
                    </datalist>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary"
                        (click)="addotherco(publicationForm.get('otherContributorId').value)">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            <label class="mx-2 my-2" for="abstract">Abstract </label>
            <div class="card mx-2">
            <textarea class="form-control" placeholder="Enter Abstract here" rows="8" formControlName="abstract"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-secondary float-right mx-2 btn-lg mt-5" [disabled]="publicationForm.invalid ">
            CANCEL
          </button>
            <button class="btn btn-primary float-right btn-lg mt-5" (click)="cancel()">
              UPDATE
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>